.custom-header {
  background-color: #1a361e; 
  width: 100%;
  padding: 40px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  
  border-radius: 0; 
  box-shadow: none;
}

.header-text {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}